<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        Missouri Consortium for Construction Innovation (MO-CCI) <br/>
        <a href="https://care.mst.edu/">Department of Civil, Architectural, and Environmental Engineering</a> <br/> 
        <a href="https://www.mst.edu/">Missouri University of Science and Technology</a> <br/>
        211 Butler-Carlton Hall, 1401 N. Pine St., <br/>
        Rolla, Missouri 65409-0030 <br/>
      </div>
    </div>

  </div>
</footer>
