<head>
    <meta charset="utf-8">
    {% seo %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      article p {
        text-align: justify;
      }

      article li {
        text-align: justify;
      }

      article img {
        max-width: 100%;
      }

      body {
        position: relative;
        min-height: 100%;
      }

      ul {
        padding-left: 1em;;
      }
    </style>
  </head>